* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 10pt;
  color: #828282;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  background-color: #f6f6ef;
  padding: 0;
}

.main .container {
  background-color: #f6f6ef;
}

.common {
  padding: 3px;
  display: inline-block;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
