.header {
  display: none;
}

.user-list {
  padding: 20px 10px;
}

.detail-bar {
  display: flex;
  padding: 5px 0;
  font-size: 12px;
  color: #868686;
  align-items: baseline;
}

.upvote {
  color: #868686;
  cursor: pointer;
  padding: 2px;
  font-size: 14px;
}

.upvote:active {
  color: green;
}

.user-list li {
  padding: 0.5rem;
  display: flex;
}

.user-list li .bar {
  display: block;
  text-align: center;
}

.tile {
  width: 70px;
  font-size: 10px;
  text-align: center;
}

.desc-tile {
  width: calc(100% - 70px);
  text-align: left;
  position: relative;
}
.title {
  font-size: 10px;
  width: calc(100% - 40px);
  display: block;
}

.hide {
  color: #000;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}

.details {
  display: flex;
}

.detail-bar .url {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 170px;
}

button,
button:focus {
  border: 0;
  outline: 0;
  padding: 0;
  background: transparent;
  font-size: 12px;
}

.pagination-wrap {
  display: flex;
}

.pagination {
  margin-left: auto;
  padding: 30px;
}

.pagination button {
  font-size: 12px;
  padding: 0 4px;
  color: orange;
}

.pagination .previous {
  border-right: 1px solid orange;
}

.user-list .list-head {
  display: none;
}

@media (min-width: 1025px) {
  .user-list {
    padding: 0;
  }
  .user-list .list-head {
    background-color: orangered;
    color: #fff;
    text-transform: capitalize;
    display: flex;
  }
  .list-head .bar {
    display: block;
    text-align: center;
    width: 100px;
  }
  .list-head .bar:last-child {
    width: calc(100%-300px);
    text-align: left;
  }
  .tile {
    width: 300px;
    display: flex;
    align-items: center;
    font-size: 13px;
  }
  .title {
    width: auto;
    padding-right: 10px;
    font-size: 12px;
  }

  .upvote {
    font-size: 16px;
  }

  .user-list .desc-tile {
    display: flex;
  }
  .hide {
    position: static;
  }
  .user-list li .bar {
    width: 100px;
  }
}
