.user-list li {
  position: relative;
  padding-left: 36px;
  padding-top: 2px;
  padding-bottom: 8px;
}

.detail-bar {
  display: flex;
  padding: 5px 0;
  font-size: 8pt;
  color: #868686;
  align-items: baseline;
}

.upvote {
  color: #868686;
  cursor: pointer;
  padding: 2px;
  font-size: 13pt;
}

.upvote:active {
  color: green;
}

.table-bordered td,
.table-bordered th {
  border: 0px solid #dee2e6;
}

.table thead th {
  border: 0px solid #dee2e6;
  background-color: orangered;
  color: #fff;
  text-transform: capitalize;
}

.table td,
.table th {
  border: 0px solid #dee2e6;
  text-align: center;
}

.table td,
.table th {
  padding: 0.5rem;
}

.table thead th {
  width: 100px;
}

.table thead th:last-child {
  width: calc(100% - 300px);
  text-align: left;
}
.title {
  padding-right: 8px;
}

.hide {
  color: #000;
  cursor: pointer;
}

.details {
  display: flex;
}

.detail-bar .url {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
}

button,
button:focus {
  border: 0;
  outline: 0;
  padding: 0;
  background: transparent;
  font-size: 8pt;
}

.pagination-wrap {
  display: flex;
}

.pagination {
  margin-left: auto;
  padding: 10px;
}

.pagination button {
  font-size: 10pt;
  padding: 0 4px;
  color: orange;
}

.pagination .previous {
  border-right: 1px solid orange;
}
